server:
  port: 8081

spring:
  application:
    name: incident-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/incident_db
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:6233}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${KAFKA_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

jwt:
  secret: mySecretKeyForJWTTokenGenerationWhichIsVeryLongAndSecure123456789
  expiration: 86400000

logging:
  level:
    com.incident: DEBUG